.Button {
  border: none;
  height: 48px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 220px;
  background: #ffffff;
  color: #bf3939;
  border-radius: 30px;
  font-weight: 500;
  display: inline-flex;
  text-transform: uppercase;
  transition: 0.3s;

  &:hover {
    box-shadow: 0px 1px 3px #000;
  }

  &_nav {
    width: 150px;

    &:hover {
      transition: all 0.3s ease-in-out;
      filter: drop-shadow(0 3px 3px #000000);
    }
  }

  &_secondary {
    background: #bf3939;
    color: #ffffff;
  }

  &_outline {
    border: 1px solid var(--color-primary);
  }

  &_heading {
    width: 200px;
  }
}
