// Fonts
$fontPrimary: "Manrope", sans-serif;
$fontSecondary: "PT Serif", serif;

// Colors
$colorPrimary: #bf3939;
$colorSecondary: #ffffff;
$colorBlack: #000000;
$colorBgPrimary: #ffffff;
$colorBgSecondary: #f6fafb;
$colorTextPrimary: #333333;
$colorTextSecondary: #696969;

// Beakpoints
$mobileLarge: "min-width: 375px";
$tabletSmall: "min-width: 481px";
$tablet: "min-width: 768px";
$destkop: "min-width: 1024px";
$destkopLarge: "min-width: 1300px";
